@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("http://fonts.cdnfonts.com/css/dinobots");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: antiquewhite;
  overflow-y: hidden;
  font-family: "Varela Round", sans-serif;
}

.background-img::before {
  content: "";
  position: fixed;
  background-image: url(/img/scary-img.jpg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.first-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.first-page .intro {
  width: 100%;
  margin: 15vh auto 0 auto;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}
.first-page .intro_header {
  margin-bottom: 122px;
  font-family: "Dinobots", sans-serif;
  width: 100%;
  text-align: center;
}

.first-page .startBtn {
  margin: 5vh auto;
  padding: 10px;
  text-align: center;
}
.first-page button {
  font-family: "Dinobots", sans-serif;
  padding: 7px 12px;
  border-radius: 40px;
  font-size: 28px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  cursor: pointer;
}

.first-page button:hover {
  background-color: rgb(59, 57, 57);
  transform: scale(1.2);
  box-shadow: 0 0 40px 40px black inset;
}

.page-two {
  transform: translateY(100%);
}

.button-active {
  transform: translateY(0%);
  transition: transform 1.5s ease;
}

.quizzForm {
  font-size: 23px;
  /* border: 2px solid whitesmoke; */
  padding: 20px;
  margin: 15vh auto;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.question {
  margin-bottom: 20px;
}
.controlBtns {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
#resultBtn,
#nextBtn {
  padding: 2px 15px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}

#nextBtn:hover {
  background-color: rgb(59, 57, 57);
  transform: scale(1.2);
  box-shadow: 0 0 40px 40px black inset;
  color: #fefefe;
}

.disabled {
  display: none;
}
#name {
  padding: 5px;
  border-radius: 5px;
}
.resultContainer {
  border: 2px solid pink;
  padding: 20px;
  margin: 8vh auto;
  max-width: 600px;
  color: #333;
}

.resultContainer h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
}

.resultContainer p {
  font-size: 25px;
}

.resultContainer .img img {
  width: 100%;

  object-fit: contain;
}

/* leaderboard */

/* The Modal (background) */
.leaderboardBtn {
  margin-top: 5vh;
  margin-left: 60px;
  padding: 2px 15px;
  font-size: 18px;
  border-radius: 10px;
  background-color: black;
  color: antiquewhite;
  cursor: pointer;
  border: none;

  background-color: rgba(0, 0, 0, 0.5);

  transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}

.leaderboardBtn:hover {
  background-color: rgb(59, 57, 57);
  transform: scale(1.2);
  box-shadow: 0 0 40px 40px black inset;
}
.modalBackground {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;

  border: 1px solid #888;
  width: 80%;
  color: #333;
}

/* The Close Button */
.close {
  color: #333;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.leaderboard-list {
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
