* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-image: url("./img/scary-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
} */
body {
  overflow-y: hidden;
  color: #333;
}
body::before {
  content: "";
  position: fixed;
  background-image: url("./img/scary-img.jpg");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.start-page {
  /* border: 2px solid pink; */
  text-align: center;
  margin-top: 20vh;
  padding: 40px;
}
.start-page button {
  margin: 30px 0;
  padding: 5px 12px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
