@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("http://fonts.cdnfonts.com/css/dinobots");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  /* color: antiquewhite; */
  color: #333;
  overflow-y: hidden;
  font-family: "Varela Round", sans-serif;
}

.form {
  margin: 15vh auto;
  width: 700px;
  border: 2px solid black;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.footer button {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}
